/******************** GENERAL ***************************/
 body {
	font-family: corbel, arial, suns-serif
	margin: 0;
  }

 h1 {
 	font-size: 36px;
 }

 a {
 	color: #000000;
 	text-decoration: none;
 }

 /******************** HEADER ***************************/

 #header {
 background-color: #6ab47b;
 }

 h1 {
 	font-size: 36px;
 	margin: 0;
 	text-align: center;
 	padding: 15px 0 0 0;
 	color: #ffffff;
 	text-transform: uppercase;
 }

 h2 {
 	text-align: center;
 	margin: 0;
 	color: #ffffff;
 }
 #nav{
 	background-color: #599a68;
 	text-align: center;
 	list-style-type: none;
 }

 #nav li {
 	display: inline-block;
 	padding: 6px 8px 6px 8px;
 }

 #nav li a {
 	color: #ffffff;
 }

 #nav li:hover {
 	background-color: #6ab47b;

 }
 /******************** CONTENT ***************************/

#content {
	width: 600px;
	margin: 30px auto;

} 

#content h4 {
	border-bottom: #599a68 solid 3px;
}
